.HomePage {
  margin: 0 auto;

  .hero {
    background: url("../img/still-life-2905834_1280.jpg") no-repeat;
    background-size: cover;
    margin-bottom: 2.5rem;
    h2 {
      font-size: 1.95rem;
      margin-top: 0;
      margin-bottom: 0.625rem;
    }
    .hero__inner {
      max-width: 1080px;
      margin: 0 auto;
      padding: 5.5625em 12.5em 12.5em 0;
      text-align: right;
    }
  }
  .tile-row {
    display: flex;
    .tile {
      background-color: $white;
      border-radius: 0.3em;
      padding: 1.5625em;
      h4 {
        margin-bottom: 1.5em;
      }
      p {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
      }
    }
  }
  .tile-row > * {
    flex: 1;
  }
  .tile-row > * + * {
    margin-left: 1.5625em;
  }
  .tag-list {
    list-style: none;
    padding-left: 0;
    li {
      display: inline;
      padding: 0.3rem 0.5rem;
      font-size: 0.8rem;
      border-radius: 0.2rem;
      background-color: $light-gray;
      line-height: 2.6;
      margin-right: 0.3rem;
    }
  }
}
