.Ratings {
  margin: 0 auto;
  width: 50vw;
  section {
    .ratings-bar {
      margin-bottom: 2rem;

      .title {
        button {
          margin-left: 2.75rem;
        }
        .heading {
          font-size: 25px;
          margin-right: 25px;
        }
        .fa {
          font-size: 1rem;
        }
        .checked {
          color: orange;
        }
      }

      .side {
        float: left;
        width: 15%;
        margin-top: 10px;
      }
      .middle {
        float: left;
        width: 70%;
        margin-top: 10px;
      }
      .right {
        text-align: right;
      }
      .row::after {
        content: "";
        display: table;
        clear: both;
      }
      .bar-container {
        width: 100%;
        background-color: #f1f1f1;
        text-align: center;
        color: white;
      }
      .bar-5 {
        width: 60%;
        height: 18px;
        background-color: #4caf50;
      }
      .bar-4 {
        width: 30%;
        height: 18px;
        background-color: #2196f3;
      }
      .bar-3 {
        width: 10%;
        height: 18px;
        background-color: #00bcd4;
      }
      .bar-2 {
        width: 4%;
        height: 18px;
        background-color: #ff9800;
      }
      .bar-1 {
        width: 15%;
        height: 18px;
        background-color: #f44336;
      }
      @media (max-width: 400px) {
        .side,
        .middle {
          width: 100%;
        }
        /* Hide the right column on small screens */
        .right {
          display: none;
        }
      }
    }
  }
  @media (max-width: 575px) {
    width: 80vw;
  }
}

.AddRating {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  input {
    margin: 0;
    padding: 0.5em;
  }
  input[type="text"] {
    flex: 3;
  }
  input[type="submit"] {
    flex: 1;
  }
}

.Rating {
  background: $white;

  margin-bottom: ($padding * 1.5);
  & > * {
    padding: 0.25rem;
    margin-left: 1rem;
    & ~ * {
      padding-top: 0;
    }
    &:first-child {
      padding-top: $padding;
    }
    &:last-child {
      padding-bottom: $padding;
    }
  }
  p,
  h2,
  h3,
  h4 {
    margin: 0;
  }
  h4 {
    font-weight: bold;
  }
  .header {
    position: relative;
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    .fa-star {
      width: 21px;
      margin-right: $padding / 8;
    }
  }
  .title {
    font-size: 20px;
    font-weight: 600;
    color: #3cabbb;
    margin-bottom: 0.75rem;

    &::before,
    &::after {
      content: '"';
    }
  }
  .content {
    font-size: 18px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.75);
    position: relative;
  }

  .selected {
    color: orange;
  }
}
