@import "_variables";
@import "_home.scss";
@import "_account";
@import "_wines";
@import "_ratings";

@mixin button($color) {
  background-color: $color;
  border: 1px solid darken($color, 10);
  &:hover {
    background-color: lighten($color, 10);
  }
  &:active {
    background-color: lighten($color, 20);
  }
}

@mixin transition($args...) {
  transition: $args;
}

html {
  box-sizing: border-box;
  color: $text-color;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  line-height: 1.4;
  margin: 1rem;
  background-color: $extra-light-gray;
}
header,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Nobile, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

/* header styles */
header {
  font-weight: 400;
}
header h1 {
  margin: 0;
  font-weight: 400;
  color: #c85028;
}
header h2 {
  font-weight: 400;
}

fieldset {
  margin-bottom: 2rem;
  border: 1px solid black;
  border-radius: 5px;
}
legend {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: block;
}
label {
  display: block;
}
input:not([type="radio"]):not([type="checkbox"]),
textarea {
  display: block;
  margin-bottom: 1rem;
  width: 20rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  background-color: $white;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

input[type="file"] {
  margin: 1rem 0;
}

textarea {
  height: 10rem;
  padding: 1rem;
}

button,
.button {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  border-radius: 0.2em;
  text-decoration: none;
  text-align: center;
  font-size: 1.1rem;
  color: $white;
  @include button($brand-green);
  &.signin,
  &.signup {
    @include button(#007bff);
  }
  &.button--cta {
    padding: 0.6em 1em;
    background-color: $brand-green;
    border: none;
  }
  &.signout {
    @include button(#007bff);
    color: white;
  }
}

// modal
#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.star-rating {
  .selected {
    color: orange;
  }
}

.UserProfile {
  margin: 0 auto;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    margin-top: 3rem;
    input[type="submit"] {
      background: green;
      color: $white;
    }
  }
}
